@charset "UTF-8";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;
  line-height: 40px;
  font-weight: 400;
  background: #fff;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
}
h2.sm {
  font-size: 46px;
  line-height: 56px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}
h3.big {
  font-size: 37px;
  line-height: 42px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.button__row__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__row__row .button:first-child {
  margin-right: 24px;
}
.button__row.primary {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  background-color: #07205C;
}
.button__row.secondary {
  padding: 10px 35px;
  background-color: #fff;
  color: #545962;
  border: 1px solid transparent;
}
.button.primary {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  background-color: #07205C;
}
.button.secondary {
  padding: 10px 35px;
  background-color: #fff;
  color: #545962;
}

button {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 30px;
  height: 30px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 20%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 20%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.hero {
  position: relative;
}
.hero .auto__container {
  max-width: 1240px;
}
.hero__slider-item {
  padding: 500px 0 60px;
  position: relative;
}
.hero .slick-arrow {
  z-index: 99;
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.hero .slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.8;
}
.hero .slick-arrow:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.hero .slick-arrow::before {
  position: absolute;
  width: 28px;
  height: 28px;
  border-top: 7px solid rgba(255, 255, 255, 0.6);
  border-right: 7px solid rgba(255, 255, 255, 0.6);
  content: "";
  opacity: 1;
  font-size: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -50%) rotate(45deg);
          transform: translate(-60%, -50%) rotate(45deg);
}
.hero .slick-prev {
  left: 70px;
}
.hero .slick-prev::before {
  -webkit-transform: translate(-40%, -50%) rotate(-135deg);
          transform: translate(-40%, -50%) rotate(-135deg);
}
.hero .slick-next {
  right: 70px;
}
.hero__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__inner-content {
  padding: 40px 50px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero__inner-content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #07205C;
  opacity: 0.95;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}
.hero__inner .button__row {
  display: none;
}
.hero__inner h1 {
  margin-bottom: 10px;
}
.hero__inner h3 {
  margin-bottom: 30px;
}
.hero__inner p strong {
  font-weight: 600;
}

.intro {
  margin-top: 20px;
  background-color: #07205C;
}
.intro__inner-top {
  padding: 40px 0 30px;
  color: #fff;
}
.intro__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.intro__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__inner-row p {
  width: calc(36% - 20px);
  line-height: 28px;
  min-height: 70px;
}
.intro__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(64% - 20px);
}
.intro__inner-links hr {
  width: 1px;
  height: 72px;
  background-color: #fff;
  margin: 0 10px;
}
.intro__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 70px 40px 50px;
}
.intro__bottom-wrapper {
  background-color: #e0e0e0;
}
.intro__bottom-wrapper .auto__container {
  position: static;
  padding: 0;
  max-width: 1800px;
}
.intro__bottom-outer {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}
.intro__bottom-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 580px;
}
.intro__bottom-image span {
  font-size: 60px;
  line-height: 67px;
  color: #E314BB;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro__bottom-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__bottom-content {
  width: calc(70% - 60px);
}
.intro__bottom-content h2 {
  margin-bottom: 10px;
}
.introItem {
  max-width: 140px;
  width: calc(25% - 40px);
}
.introItem__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.introItem__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  stroke: #fff;
  fill: #fff;
}
.introItem:nth-of-type(2) .introItem__icon {
  width: 90px;
}
.introItem:last-of-type .introItem__icon {
  width: 55px;
  height: 60px;
}
.introItem h4 {
  text-align: center;
  text-transform: uppercase;
  height: 52px;
  overflow: hidden;
}

.info {
  padding: 120px 0;
}
.info .auto__container {
  max-width: 1240px;
}
.info__inner h2 {
  margin-bottom: 14px;
}
.info__inner .button {
  display: none;
  color: #707070;
  border-color: #707070;
  background-color: #fff;
}
.infoItem {
  padding-bottom: 40px;
  border-bottom: 1px solid #707070;
  margin-bottom: 40px;
}
.infoItem:last-child {
  padding: 0;
  border: unset;
}
.infoItem h3 {
  margin-bottom: 22px;
  color: #707070;
}

.about {
  padding: 95px 0 150px;
  background-color: #E4E4E4;
}
.about .auto__container {
  max-width: 1530px;
}
.about__inner-content {
  max-width: 1200px;
  margin: 0 auto;
}
.about__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}
.about__inner h3 {
  color: #707070;
  margin-bottom: 26px;
}
.about__inner h2 {
  margin-bottom: 45px;
}
.about__inner p {
  margin-bottom: 65px;
  font-size: 20px;
  line-height: 40px;
}
.aboutItem {
  padding-bottom: 25%;
  margin: 0 20px;
  width: calc(25% - 40px);
  position: relative;
}
.aboutItem__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutItem__inner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutItem__inner-image::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}
.aboutItem__inner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutItem__inner h4 {
  position: relative;
  z-index: 2;
  font-weight: 700;
  color: #fff;
  text-align: end;
  text-transform: uppercase;
}

.inventory__inner {
  max-width: 1470px;
  margin: 0 auto;
  padding: 100px 0 250px;
}
.inventory__inner h2 {
  width: 80%;
  max-width: 1104;
  background-color: #09225A;
  padding: 20px 0;
  margin: 0 auto 116px;
  color: #fff;
  text-align: center;
}
.inventory__inner-main .inventoryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DDDDDB;
  margin-bottom: 100px;
}
.inventory__inner-main .inventoryItem:last-child {
  margin-bottom: unset;
}
.inventory__inner-main .inventoryItem__image {
  width: calc(50% - 30px);
  max-width: 676px;
  position: relative;
}
.inventory__inner-main .inventoryItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.inventory__inner-main .inventoryItem__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory__inner-main .inventoryItem__icons h4 {
  color: #09225A;
  margin-bottom: 7px;
  font-weight: 700;
}
.inventory__inner-main .inventoryItem__icons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 32px;
}
.inventory__inner-main .inventoryItem__icons span img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}
.inventory__inner-main .inventoryItem__icons span.center {
  margin: 0 auto;
}
.inventory__inner-main .inventoryItem__icons strong {
  font-size: 25px;
  color: #09225A;
  font-weight: 700;
  line-height: 26px;
  margin-left: 10px;
}
.inventory__inner-main .inventoryItem__icons-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.inventory__inner-main .inventoryItem__content {
  width: calc(50% - 10px);
  padding: 65px 70px 40px 0;
}
.inventory__inner-main .inventoryItem__content h2 {
  background-color: unset;
  color: #09225A;
  margin-bottom: 28px;
  width: 100%;
  text-align: left;
  padding: unset;
}
.inventory__inner-main .inventoryItem__content-row {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}
.inventory__inner-main .inventoryItem__content-row hr {
  border: 1px solid #09225A;
  margin: 0 10px;
}
.inventory__inner-main .inventoryItem__content p {
  font-size: 20px;
  line-height: 33px;
  color: #09225A;
  margin-bottom: 34px;
}
.inventory__inner-main .inventoryItem__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory__inner-main .inventoryItem__content-buttons .button.primary {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #09225A;
  padding: 8px 31px;
  border: 1px solid #09225A;
}
.inventory__inner-main .inventoryItem__content-buttons .button.secondary {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #09225A;
  font-weight: 700;
  border: 1px solid #09225A;
  padding: 8px 15px;
  margin: 0 21px 0 0;
}
.inventory__inner-main .button__wrapper {
  padding: 0 24px;
}
.inventory__inner-main .button__wrapper .more {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #09225A;
  font-weight: 700;
  border: 1px solid #09225A;
  padding: 8px 15px;
  display: none;
  font-weight: 700;
}

.testimonials {
  background-color: #818388;
}
.testimonials__inner {
  padding: 66px 0 105px;
}
.testimonials__inner h3 {
  color: #fff;
  text-align: center;
  padding-bottom: 17px;
  position: relative;
  margin-bottom: 40px;
}
.testimonials__inner h3:after {
  content: "";
  width: 75%;
  height: 1px;
  max-width: 840px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.testimonials__inner-slider {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px 60px;
}
.testimonials__inner-slider .testimonialsItem__image {
  width: 100%;
  width: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 33px;
}
.testimonials__inner-slider .testimonialsItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials__inner-slider .testimonialsItem p {
  font-size: 19px;
  line-height: 37px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
.testimonials__inner-slider .testimonialsItem p strong {
  font-weight: 700;
}
.testimonials__inner-slider .testimonialsItem .button {
  display: none;
}
.testimonials__inner-slider .testimonialsItem .button.secondary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 60px;
  padding: 6px 24px;
}
.testimonials__inner-slider .slick-active button::before {
  opacity: 1;
}
.testimonials__inner-slider .slick-dots {
  bottom: 0;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.testimonials__inner-slider .slick-dots li {
  width: 9px;
  height: 9px;
}
.testimonials__inner-slider .slick-dots li button {
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials__inner-slider .slick-dots li button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
}
.testimonials__inner-slider .slick-dots li.active {
  background-color: #fff;
}
.testimonials__inner-slider .slick-arrow {
  top: 54%;
  cursor: pointer;
  z-index: 10;
}
.testimonials__inner-slider .slick-next {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -8%;
}
.testimonials__inner-slider .slick-next::before {
  display: none;
}
.testimonials__inner-slider .slick-prev {
  border: solid #fff;
  border-width: 5px 0 0 5px;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -8%;
}
.testimonials__inner-slider .slick-prev::before {
  display: none;
}

@media (max-width: 1550px) {
  .intro__inner-row p {
    width: calc(36% - 10px);
    font-size: 18px;
    line-height: 24px;
  }
  .intro__inner-links {
    width: calc(64% - 10px);
  }

  .hero .slick-prev {
    left: 40px;
  }
  .hero .slick-next {
    right: 40px;
  }
  .hero .slick-arrow {
    width: 60px;
    height: 60px;
  }
  .hero .slick-arrow::before {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 1450px) {
  .inventory__inner h2 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 100px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 90px;
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 55px 50px 35px 0;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1380px) {
  h1 {
    font-size: 60px;
    line-height: 66px;
  }

  h2 {
    font-size: 60px;
    line-height: 66px;
  }
  h2.sm {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 26px;
    line-height: 38px;
  }
  h3.big {
    font-size: 34px;
    line-height: 39px;
  }

  .testimonials__inner-slider .slick-arrow {
    top: 50%;
  }
  .testimonials__inner-slider .slick-next {
    right: -2%;
  }
  .testimonials__inner-slider .slick-prev {
    left: -2%;
  }

  .inventory__inner h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 90px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 80px;
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 50px 35px 40px 0;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 18px;
    line-height: 23px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 22px;
    line-height: 22px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 18px;
    line-height: 28px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    margin-bottom: 30px;
    width: 100%;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    font-size: 16px;
    line-height: 22px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    font-size: 16px;
    line-height: 22px;
  }

  .intro__inner-row p {
    width: calc(36% - 10px);
    font-size: 16px;
    line-height: 24px;
  }
  .intro__inner-links {
    width: calc(64% - 10px);
  }
  .intro__bottom-image {
    width: 35%;
  }
  .intro__bottom-content {
    width: calc(65% - 20px);
  }
  .introItem h4 {
    font-size: 18px;
  }
}
@media (max-width: 1250px) {
  .inventory__inner h2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 80px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 70px;
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 30px 20px 30px 0;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 35px;
    line-height: 45px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    max-width: 50px;
    max-height: 28px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 20px;
    line-height: 22px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 16px;
    line-height: 24px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    margin-bottom: 25px;
  }
}
@media (max-width: 1180px) {
  .hero__slider-item {
    padding: 400px 0 50px;
  }

  .inventory__inner h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 70px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 60px;
  }
  .inventory__inner-main .inventoryItem__image {
    width: calc(45% - 20px);
  }
  .inventory__inner-main .inventoryItem__content {
    width: calc(55% - 20px);
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 18px;
    line-height: 18px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    font-size: 15px;
    line-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    font-size: 15px;
    line-height: 20px;
  }

  .intro {
    margin-top: 15px;
  }
  .intro__inner-row p {
    width: calc(35% - 8px);
    font-size: 16px;
    line-height: 24px;
  }
  .intro__inner-links {
    width: calc(65% - 8px);
  }
  .introItem {
    width: calc(25% - 34px);
  }
  .introItem__icon {
    margin-bottom: 6px;
  }
  .introItem h4 {
    font-size: 16px;
    line-height: 22px;
    height: 44px;
  }

  .about {
    padding: 80px 0 120px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .auto__container {
    padding: 0 30px;
  }

  h1 {
    font-size: 50px;
    line-height: 58px;
  }

  h2 {
    font-size: 50px;
    line-height: 58px;
  }
  h2.sm {
    font-size: 36px;
    line-height: 42px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h3.big {
    font-size: 30px;
    line-height: 36px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .hero__inner-content {
    padding: 30px 40px;
  }
  .hero__slider-item {
    padding: 300px 0 40px;
  }
  .hero .slick-arrow {
    width: 50px;
    height: 50px;
  }
  .hero .slick-arrow::before {
    width: 16px;
    height: 16px;
    border-width: 4px;
  }
  .hero .slick-prev {
    left: 30px;
  }
  .hero .slick-next {
    right: 30px;
  }

  .testimonials__inner {
    padding: 55px 0 70px;
  }
  .testimonials__inner h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .testimonials__inner-slider .testimonialsItem p {
    font-size: 18px;
    line-height: 34px;
  }
  .testimonials__inner-slider .testimonialsItem__image {
    margin-bottom: 25px;
  }

  .inventory__inner h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 60px;
    padding: 10px 0;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 50px;
  }
  .inventory__inner-main .inventoryItem__image {
    width: calc(45% - 15px);
  }
  .inventory__inner-main .inventoryItem__content {
    width: calc(55% - 15px);
    padding: 20px 20px 20px 0;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    height: 24px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 16px;
    line-height: 16px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    margin-bottom: 20px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    font-size: 14px;
    line-height: 18px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    font-size: 14px;
    line-height: 18px;
  }

  .intro {
    margin-top: 10px;
  }
  .intro__inner-top {
    padding: 30px 0 25px;
  }
  .intro__inner-header {
    margin-bottom: 22px;
  }
  .intro__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__inner-row p {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    min-height: unset;
    text-align: center;
  }
  .intro__inner-links {
    width: 100%;
    margin-bottom: 20px;
    max-width: 800px;
  }
  .intro__inner-links hr:last-of-type {
    display: none;
  }
  .intro__bottom {
    padding: 40px 30px;
  }
  .introItem h4 {
    font-size: 18px;
  }

  .about {
    padding: 70px 0 100px;
  }
  .about__inner-row {
    margin: 0 -10px;
  }
  .about__inner h3 {
    margin-bottom: 20px;
  }
  .about__inner h2 {
    margin-bottom: 30px;
  }
  .about__inner p {
    margin-bottom: 50px;
  }
  .aboutItem {
    margin: 0 10px;
    width: calc(25% - 20px);
  }

  .info {
    padding: 90px 0;
  }
}
@media (max-width: 930px) {
  .inventory__inner {
    padding: 100px 0;
  }
  .inventory__inner h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 40px;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    max-width: 35px;
    max-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    line-height: 16px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    padding: 8px 10px;
    font-size: 13px;
    line-height: 16px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    padding: 8px 22px;
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 840px) {
  .testimonials__inner {
    padding: 55px 0 70px;
  }
  .testimonials__inner h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .testimonials__inner-slider {
    padding: 0 20px 60px;
  }
  .testimonials__inner-slider .testimonialsItem p {
    font-size: 17px;
    line-height: 30px;
  }
  .testimonials__inner-slider .testimonialsItem__image {
    margin-bottom: 25px;
  }
  .testimonials__inner-slider .slick-prev {
    border-width: 4px 0 0 4px;
    width: 18px;
    height: 18px;
    left: -1%;
  }
  .testimonials__inner-slider .slick-next {
    border-width: 0 4px 4px 0;
    width: 18px;
    height: 18px;
    right: -1%;
  }

  .inventory__inner h2 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem {
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem__image {
    width: calc(45% - 10px);
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 20px 10px 20px 0;
    width: calc(55% - 10px);
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    max-width: 35px;
    max-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 11px;
    line-height: 13px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    margin-bottom: 20px;
  }
  .intro__bottom {
    padding: 24px 30px;
  }
  .intro__bottom-content {
    width: calc(65% - 10px);
  }
  .intro__bottom-content h2 {
    margin-bottom: 4px;
    font-size: 44px;
    line-height: 50px;
  }

  .about {
    padding: 60px 0 80px;
  }
  .about__inner-row {
    margin: 0 -10px;
  }
  .about__inner h3 {
    margin-bottom: 10px;
  }
  .about__inner h2 {
    margin-bottom: 20px;
  }
  .about__inner p {
    margin-bottom: 40px;
  }
  .aboutItem__inner {
    padding: 14px;
  }
  .aboutItem h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .info {
    padding: 70px 0;
  }
  .infoItem {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .infoItem h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 750px) {
  .auto__container {
    padding: 0 20px;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  h2.sm {
    font-size: 30px;
    line-height: 42px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }
  h3.big {
    font-size: 24px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
    line-height: 32px;
  }

  .hero__inner-content {
    padding: 30px;
  }
  .hero__inner h3 {
    margin-bottom: 20px;
  }
  .hero__slider-item {
    padding: 200px 0 30px;
  }
  .hero .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .hero .slick-arrow::before {
    width: 14px;
    height: 14px;
    border-width: 3px;
  }
  .hero .slick-prev {
    left: 20px;
  }
  .hero .slick-next {
    right: 20px;
  }

  .inventory {
    background-color: #DDDDDB;
  }
  .inventory__inner {
    padding: 70px 0;
  }
  .inventory__inner h2 {
    font-size: 37px;
    line-height: 32px;
    margin-bottom: 0;
    width: 100%;
    padding: 30px 0;
  }
  .inventory__inner-main .inventoryItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .inventory__inner-main .inventoryItem:last-child {
    margin-bottom: 50px;
  }
  .inventory__inner-main .inventoryItem__wrapper {
    display: none;
  }
  .inventory__inner-main .inventoryItem__wrapper.active {
    display: block;
  }
  .inventory__inner-main .inventoryItem__image {
    width: 100%;
    max-width: unset;
    margin: 0 0 28px;
  }
  .inventory__inner-main .inventoryItem__image img {
    position: unset;
    max-height: 350px;
    min-height: 350px;
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 0 24px;
    width: 100%;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 37px;
    line-height: 39px;
    margin-bottom: 40px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons {
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    max-width: 50px;
    max-height: 40px;
    height: 35px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 20px;
    line-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 25px;
    line-height: 25px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: unset;
  }
  .inventory__inner-main .inventoryItem__content-row hr {
    max-height: 62px;
    margin: 0 15px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    font-size: 18px;
    line-height: 26px;
    margin-right: 15px;
    padding: 8px 17px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    font-size: 18px;
    line-height: 26px;
    padding: 8px 27px;
  }
  .inventory__inner-main .button__wrapper .more {
    display: block;
    max-width: 331px;
    width: 100%;
  }
  .inventory .auto__container {
    padding: 0;
  }

  .intro__bottom {
    padding: 18px 20px;
  }
  .intro__bottom-content {
    width: calc(65% - 6px);
  }
  .intro__bottom-content h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .intro__bottom-content p {
    line-height: 26px;
  }
  .introItem h4 {
    font-size: 16px;
  }

  .about {
    padding: 60px 0;
  }
  .about__inner-row {
    margin: 0 -5px;
  }
  .aboutItem {
    margin: 0 5px;
    width: calc(25% - 10px);
  }
  .aboutItem__inner {
    padding: 12px;
  }
  .aboutItem h4 {
    font-size: 14px;
    line-height: 18px;
  }

  .info {
    padding: 60px 0 40px;
  }
  .infoItem {
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  .infoItem h3 {
    margin-bottom: 6px;
  }
}
@media (max-width: 650px) {
  .hero {
    background-color: #07205C;
  }
  .hero__bg {
    position: unset;
    padding-bottom: 75%;
    position: relative;
  }
  .hero__bg img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .hero__slider {
    margin: 0 -10px;
  }
  .hero__slider-item {
    padding: 0;
    margin: 0 10px;
  }
  .hero .slick-arrow {
    display: none !important;
  }
  .hero__inner-content {
    padding: 24px 0;
  }
  .hero__inner-content::before {
    display: none;
  }
  .hero__inner h3 {
    margin-bottom: 12px;
  }
  .hero__inner p {
    line-height: 24px;
    margin-bottom: 30px;
  }
  .hero__inner .button__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__inner .button__row .button:first-child {
    margin-right: 10px;
  }

  .testimonials__inner h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .testimonials__inner-slider {
    padding: 0 20px 60px;
  }
  .testimonials__inner-slider .testimonialsItem p {
    font-size: 15px;
    line-height: 25px;
  }
  .testimonials__inner-slider .testimonialsItem__image {
    margin-bottom: 20px;
  }
  .testimonials__inner-slider .slick-prev {
    border-width: 3px 0 0 3px;
    width: 15px;
    height: 15px;
  }
  .testimonials__inner-slider .slick-next {
    border-width: 0 3px 3px 0;
    width: 15px;
    height: 15px;
  }

  .intro {
    margin: 6px 0 8px;
  }
  .intro__inner-top {
    position: relative;
    padding: 22px 0;
  }
  .intro__inner-header {
    margin-bottom: 0;
    cursor: pointer;
  }
  .intro__inner-header h2 {
    position: relative;
    width: 100%;
  }
  .intro__inner-header h2::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
  }
  .intro__inner-header h2::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    content: "";
  }
  .intro__inner-header.active h2::after {
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  .intro__inner-header .button__row {
    display: none;
  }
  .intro__inner-row {
    position: absolute;
    top: 100%;
    left: -20px;
    width: calc(100% + 40px);
    max-height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    color: #07205C;
    z-index: 4;
    padding: 0 20px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-box-shadow: 0 11px 18px rgba(0, 0, 0, 0.3);
            box-shadow: 0 11px 18px rgba(0, 0, 0, 0.3);
  }
  .intro__inner-row.active {
    padding: 28px 20px 35px;
    max-height: 500px;
  }
  .intro__inner-row p {
    font-weight: 600;
  }
  .intro__inner-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px 6px;
  }
  .intro__inner-links hr {
    display: none;
  }
  .intro__bottom {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__bottom-image {
    width: 100%;
    position: relative;
    max-width: unset;
  }
  .intro__bottom-image img {
    min-height: 260px;
  }
  .intro__bottom-image span {
    display: none;
  }
  .intro__bottom-content {
    width: 100%;
    padding: 20px;
  }
  .intro__bottom-content h2 {
    font-size: 37px;
    line-height: 39px;
    margin-bottom: 10px;
  }
  .intro__bottom-content p {
    line-height: 32px;
  }
  .introItem {
    color: #07205C;
    width: calc(50% - 20px);
    max-width: unset;
    margin: 10px;
  }
  .introItem__icon {
    margin-bottom: 10px;
  }
  .introItem__icon svg {
    fill: #07205C;
    stroke: #07205C;
  }
  .introItem h4 {
    font-size: 20px;
    line-height: 24px;
    height: 48px;
  }

  .about__inner-row {
    margin: 0 -10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutItem {
    margin: 10px;
    padding-bottom: 50%;
    width: calc(50% - 20px);
  }
  .aboutItem__inner {
    padding: 20px;
  }
  .aboutItem h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .info {
    padding: 50px 0;
  }
  .info__inner {
    border-bottom: 1px solid #707070;
  }
  .info__inner-col {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .info__inner-col.active {
    max-height: 1400px;
  }
  .info__inner h2 {
    margin-bottom: 40px;
  }
  .info__inner .button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 40px;
  }
  .infoItem {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
@media (max-width: 540px) {
  .testimonials__inner {
    padding: 60px 0;
  }
  .testimonials__inner h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 11px;
  }
  .testimonials__inner h3:after {
    left: 0;
    -webkit-transform: unset;
            transform: unset;
    width: 85%;
  }
  .testimonials__inner-slider {
    padding: 0 5px 30px;
  }
  .testimonials__inner-slider .testimonialsItem p {
    font-size: 19px;
    line-height: 37px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    margin-bottom: 40px;
    text-align: left;
  }
  .testimonials__inner-slider .testimonialsItem p br {
    display: none;
  }
  .testimonials__inner-slider .testimonialsItem p.tabEvent {
    max-height: 340px;
    overflow: hidden;
  }
  .testimonials__inner-slider .testimonialsItem p.tabEvent.active {
    max-height: 700px;
  }
  .testimonials__inner-slider .testimonialsItem__image {
    margin: 0 auto 35px 0;
  }
  .testimonials__inner-slider .testimonialsItem .button {
    display: block;
  }
  .testimonials__inner-slider .slick-arrow {
    display: none !important;
  }
  .testimonials__inner-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    -webkit-transform: unset;
            transform: unset;
  }

  .inventory__inner-main .inventoryItem__content-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 37px;
    line-height: 44px;
  }

  h2 {
    font-size: 37px;
    line-height: 44px;
  }
  h2.sm {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__inner-links {
    margin: 0 -8px 20px;
  }
  .intro__inner-row p {
    font-size: 16px;
    line-height: 22px;
  }
  .introItem {
    margin: 8px;
    width: calc(50% - 16px);
  }

  .about {
    padding: 50px 0 40px;
  }
  .about__inner-row {
    margin: 0 -6px;
  }
  .about__inner p {
    margin-bottom: 30px;
  }
  .aboutItem {
    margin: 15px 6px;
    width: calc(50% - 12px);
    padding: 0;
  }
  .aboutItem__inner {
    position: unset;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutItem__inner-image {
    position: relative;
    margin-bottom: 14px;
    padding-bottom: 113%;
  }
  .aboutItem__inner-image img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .aboutItem__inner-image::before {
    display: none;
  }
  .aboutItem__inner h4 {
    text-align: start;
    color: #707070;
    min-height: 52px;
  }
}
@media (max-width: 390px) {
  .testimonials__inner {
    padding: 50px 0;
  }
  .testimonials__inner h3 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  .testimonials__inner-slider {
    padding: 0 5px 20px;
  }
  .testimonials__inner-slider .testimonialsItem p {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 30px;
    max-height: 352px;
  }
  .testimonials__inner-slider .testimonialsItem__image {
    width: 90px;
    margin: 0 auto 25px 0;
  }
  .testimonials__inner-slider .testimonialsItem .button {
    display: block;
  }
  .testimonials__inner-slider .testimonialsItem .button.secondary {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .inventory__inner h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
  }
  .inventory__inner-main .inventoryItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .inventory__inner-main .inventoryItem__image {
    margin: 0 0 25px;
  }
  .inventory__inner-main .inventoryItem__image img {
    min-height: 300px;
  }
  .inventory__inner-main .inventoryItem__content {
    padding: 0 20px;
  }
  .inventory__inner-main .inventoryItem__content h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem__content p {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons {
    margin-bottom: 25px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons span {
    max-width: 45px;
    max-height: 35px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .inventory__inner-main .inventoryItem__content .inventoryItem__icons strong {
    font-size: 20px;
    line-height: 20px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.secondary {
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
  }
  .inventory__inner-main .inventoryItem__content-buttons .button.primary {
    font-size: 12px;
    line-height: 14px;
  }
  .inventory__inner-main .button__wrapper .more {
    font-size: 12px;
    line-height: 14px;
    max-width: 252px;
  }
  .inventory .auto__container {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .inventory__inner h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0;
  }
  .inventory__inner-main .inventoryItem__image img {
    max-height: 250px;
    min-height: 250px;
  }
  .inventory__inner-main .inventoryItem__content-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .button {
    font-size: 15px;
  }
  .button__row .button {
    margin-right: 5px;
  }
  .button.primary {
    padding: 6px 12px;
  }
  .button.secondary {
    padding: 6px 25px;
  }

  .aboutItem h4 {
    font-size: 16px;
    line-height: 22px;
  }
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}