h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  color: $white;
}

h2 {
<<<<<<< HEAD
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  &.sm {
    font-size: 48px;
    line-height: 56px;
  }
  &.ex {
    font-size: 45px;
    line-height: 56px;
  }
=======
    font-weight: 400;
    font-size: 70px;
    line-height: 77px;
    &.sm {
        font-size: 46px;
        line-height: 56px;
    }
>>>>>>> a79bf90e73253b92953238e884639c31d94f194c
}
h3 {
  font-size: 30px;
  line-height: 40px;
  &.big {
    font-size: 37px;
    line-height: 42px;
  }
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
p {
}
main {
<<<<<<< HEAD
  overflow: hidden;
  padding: 200px 0;
=======
    overflow: hidden;
    // padding: 200px 0;
>>>>>>> a79bf90e73253b92953238e884639c31d94f194c
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  &__row {
    display: flex;
    align-items: center;
<<<<<<< HEAD
    .button {
      &:first-child {
        margin-right: 24px;
      }
=======
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    &__row {
        display: flex;
        align-items: center;
        .button {
            &:first-child {
                margin-right: 24px;
            }
        }
    }
    &.primary {
        border: 1px solid $white;
        color: $white;
        padding: 10px 15px;
        background-color: $primary;
    }
    &.secondary {
        padding: 10px 35px;
        background-color: $white;
        color: $gray2;
        border: 1px solid transparent;
>>>>>>> a79bf90e73253b92953238e884639c31d94f194c
    }
  }
  &.primary {
    border: 1px solid $white;
    color: $white;
    padding: 10px 15px;
    background-color: $primary;
  }
  &.secondary {
    padding: 10px 35px;
    background-color: $white;
    color: $gray2;
  }
}
