h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  color: $white;
}

h2 {
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  &.sm {
    font-size: 46px;
    line-height: 56px;
  }
}
h3 {
  font-size: 30px;
  line-height: 40px;
  &.big {
    font-size: 37px;
    line-height: 42px;
  }
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
p {
}
main {
  overflow: hidden;
  // padding: 200px 0;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &__row {
        display: flex;
        align-items: center;
        .button {
            &:first-child {
                margin-right: 24px;
            }
        }
    }
    &.primary {
        border: 1px solid $white;
        color: $white;
        padding: 10px 15px;
        background-color: $primary;
    }
    &.secondary {
        padding: 10px 35px;
        background-color: $white;
        color: $gray2;
        border: 1px solid transparent;
    }
    &.more {
        color: $blue;
        font-weight: 700;
        border: 1px solid $blue;
        padding: 8px 15px;
              background-color: transparent;

    }
}


button{
  font-family: $montserrat;
}