.hero {
    position: relative;
    .auto__container {
        max-width: 1240px;
    }
    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__inner {
        padding: 500px 0 60px;
        &-content {
            padding: 40px 50px;
            position: relative;
            z-index: 2;
            text-align: center;
            color: $white;
            overflow: hidden;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary;
                opacity: .95;
                filter: blur(30px);
                z-index: -1;
            }
        }
        .button__row {
            display: none;
        }
        h1 {
            margin-bottom: 10px;

        }
        h3 {
            margin-bottom: 30px;
        }
        p {
            strong {
                font-weight: 600;
            }
        }
    }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {

    }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {

    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {

    }
}
// 1024px
@mixin hero-lg-xlg {
    .hero {

    }
}
// 930px
@mixin hero-md-lg {
    .hero {
  
    }
}
// 750px
@mixin hero-sm-md {
    .hero {
 
    }
}
// 650px
@mixin hero-sm-md-extra {
    .hero {

    }
}
// 540px
@mixin hero-xsm-sm {
    .hero {

    }
}
// 440px
@mixin hero-xxsm-xsm {
    .hero {

    }
}
.intro {
   margin-top: 20px;
   background-color: $primary;

    &__inner {
        &-top {
            padding: 40px 0 30px;
            color: $white;

        }
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }
        &-row {
            display: flex;
            align-items: center;
        }
        &-links {
            display: flex;
            align-items: center;
            hr {
                width: 1px;
                height: 72px;
                background-color: $white;
                margin: 0 50px;
            }
        }
    }
    &Item {
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:nth-last-of-type(2) {
            .introItem {
                &__icon {
                    width: 90px;
                }
            }
        }
    }
}